name: docker-build

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  OLS_VERSION: 1.7.16

jobs:
  buildx:
    runs-on: self-hosted
    strategy:
      matrix: 
        PHP_VERSION: ['8.0.26', '8.1.13', '8.2.0']

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # https://github.com/marketplace/actions/docker-setup-buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # https://github.com/marketplace/actions/docker-login
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # https://github.com/orgs/community/discussions/26625#discussioncomment-3252582
      - id: php-version
        run: |
          _0=$(echo ${{matrix.PHP_VERSION.value}} | cut -d. -f1)
          _1=$(echo ${{matrix.PHP_VERSION.value}} | cut -d. -f2)
          echo "::set-output name=_0::$_0"
          echo "::set-output name=_1::$_1"

      # https://github.com/marketplace/actions/build-and-push-docker-images
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v3
        if: matrix.PHP_VERSION != '8.2.0'
        with:
          context: template
          platforms: linux/arm64
          build-args: |
            OLS_VERSION=${{ env.OLS_VERSION }}
            PHP_VERSION=${{ matrix.PHP_VERSION }}
            PHP_MAJOR_VERSION=${{ steps.php-version.outputs._0 }}
            PHP_MINOR_VERSION=${{ steps.php-version.outputs._1 }}
          push: true
          tags: ndigitals/openlitespeed:${{ env.OLS_VERSION }}-lsphp${{ steps.php-version.outputs._0 }}${{ steps.php-version.outputs._1 }}
          cache-from: type=registry,ref=ndigitals/openlitespeed:latest
          cache-to: type=inline

      # https://github.com/marketplace/actions/build-and-push-docker-images
      - name: Build and Push Docker Image - latest
        uses: docker/build-push-action@v3
        if: matrix.PHP_VERSION == '8.2.0'
        with:
          context: template
          platforms: linux/arm64
          build-args: |
            OLS_VERSION=${{ env.OLS_VERSION }}
            PHP_VERSION=${{ matrix.PHP_VERSION }}
            PHP_MAJOR_VERSION=${{ steps.php-version.outputs._0 }}
            PHP_MINOR_VERSION=${{ steps.php-version.outputs._1 }}
          push: true
          tags: ndigitals/openlitespeed:${{ env.OLS_VERSION }}-lsphp${{ steps.php-version.outputs._0 }}${{ steps.php-version.outputs._1 }},ndigitals/openlitespeed:latest
          cache-from: type=registry,ref=ndigitals/openlitespeed:latest
          cache-to: type=inline

      # https://github.com/marketplace/actions/docker-hub-description
      - name: Update Docker Hub README & Description
        uses: peter-evans/dockerhub-description@v3
        if: steps.php-version.outputs._0 == '8' && steps.php-version.outputs._1 == '2' && matrix.TAG == 'latest'
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ndigitals/openlitespeed
          short-description: ${{ github.event.repository.description }}

