name: docker-build

on:
  push:
    branches:
      - main

env:
  OLS_VERSION: 1.7.16

jobs:
  buildx:
    runs-on: ubuntu-latest
    strategy:
      matrix: 
        PHP_VERSION: ['8.0.26', '8.1.13', '8.2.0']
        TAG: [latest,'']

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # Add support for more platforms with QEMU (optional)
      # https://github.com/marketplace/actions/docker-setup-qemu
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      # https://github.com/marketplace/actions/docker-setup-buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # https://github.com/marketplace/actions/docker-login
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # https://github.com/marketplace/actions/split-action
      - uses: jungwinter/split@v2
        id: php-version
        with:
          msg: ${{ matrix.PHP_VERSION }}
          separator: '.'

      # https://github.com/marketplace/actions/build-and-push-docker-images
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v3
        if: matrix.TAG != 'latest'
        with:
          context: template
          platforms: linux/arm64
          build-args: |
            OLS_VERSION=${{ env.OLS_VERSION }}
            PHP_VERSION=${{ matrix.PHP_VERSION }}
            PHP_MAJOR_VERSION=${{ steps.php-version.outputs._0 }}
            PHP_MINOR_VERSION=${{ steps.php-version.outputs._1 }}
          push: true
          tags: ndigitals/openlitespeed:${{ env.OLS_VERSION }}-lsphp${{ steps.php-version.outputs._0 }}${{ steps.php-version.outputs._1 }}
          cache-from: type=registry,ref=ndigitals/openlitespeed:latest
          cache-to: type=inline

      # https://github.com/marketplace/actions/build-and-push-docker-images
      - name: Build and Push Docker Image - latest
        uses: docker/build-push-action@v3
        if: steps.php-version.outputs._0 == '8' && steps.php-version.outputs._1 == '2' && matrix.TAG == 'latest'
        with:
          context: template
          platforms: linux/arm64
          build-args: |
            OLS_VERSION=${{ env.OLS_VERSION }}
            PHP_VERSION=${{ matrix.PHP_VERSION }}
            PHP_MAJOR_VERSION=${{ steps.php-version.outputs._0 }}
            PHP_MINOR_VERSION=${{ steps.php-version.outputs._1 }}
          push: true
          tags: ndigitals/openlitespeed:${{ matrix.TAG }}
          cache-from: type=registry,ref=ndigitals/openlitespeed:latest
          cache-to: type=inline
